.main {
  display: flex;
  flex-direction: column;
}

.icons {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.credit {
  align-self: flex-start;
  font-size: small;
}

@media screen and (max-width: 1030px) {
  .credit {
    align-self: center;
  }
}
