.icons {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.socials {
  display: flex;
  align-items: center;
  gap: min(15%, 5rem);
}

.credit {
  align-self: flex-start;
  font-size: x-small;
  margin-bottom: 0.25rem;
}

.socials > * {
  cursor: pointer;
}

.reset {
  display: inline-flex;
}

@media screen and (max-width: 1030px) {
  .credit {
    align-self: center;
  }
}
