.top {
  margin-top: auto;
}

.icons {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
.main {
  margin-top: auto;
  margin-inline: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.line {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.socials {
  display: flex;
  align-items: center;
  gap: min(15%, 5rem);
}

.credit {
  align-self: flex-start;
  font-size: x-small;
  margin-bottom: 0.25rem;
}

.socials > * {
  cursor: pointer;
}

.reset {
  display: inline-flex;
}

@media screen and (max-width: 1030px) {
  .credit {
    align-self: center;
  }
}
