.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header description and button layout */
.top {
  display: flex;
  flex-direction: column;
  margin: 3rem 2rem;
  justify-content: space-between;
  gap: 1.5rem;
}

.title {
  font-weight: 600;
  color: #1e1e1e;
}

.paragraph {
  font-weight: 300;
  color: #1e1e1e;
}

.button {
  background-color: #525252;
  font-family: inherit;
  color: white;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  border: none;
  padding: 0.6rem 1.5rem;
  font-weight: 400;
  box-shadow: 2px 2px 5px #525252;
}
/* Image/caption layout */
.bottom {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-inline: 2rem;
}

/* Image/caption stylings*/
.left {
  display: table;
  /* flex-direction: column;
  flex-wrap: wrap;
  align-items: center; */
  gap: 0.5rem;
}

.right {
  display: table;
  /* flex-direction: column;
  flex-wrap: wrap;
  align-items: center; */
  gap: 0.5rem;
}

.left > p {
  display: table-caption;
  caption-side: bottom;
  color: #1e1e1e;
  text-align: center;
  width: 100%;
}

.right > p {
  display: table-caption;
  caption-side: top;
  color: #1e1e1e;
  text-align: center;
  width: 100%;
}
/* image specific stylings */
.pics {
  border-radius: 3%;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

@media screen and (max-width: 1030px) {
  .bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .right > p {
    caption-side: bottom;
  }
}

.footer {
  margin-top: auto;
  margin-bottom: 1rem;
  margin-inline: 0.5rem;
}
