/* Header description and button layout */
.top {
  display: flex;
  flex-direction: column;
  margin: 3rem 2rem;
  justify-content: space-between;
  gap: 1.5rem;
}

.title {
  font-weight: 600;
  color: #1e1e1e;
}

.paragraph {
  font-weight: 300;
  color: #1e1e1e;
}

.button {
  background-color: #525252;
  font-family: inherit;
  color: white;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  border: none;
  padding: 0.6rem 1.5rem;
  font-weight: 400;
  box-shadow: 2px 2px 5px #525252;
}
/* Image/caption layout */
.bottom {
  display: flex;
  justify-content: center;
  gap: 5%;
}

/* Image/caption stylings*/
.left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.left > p {
  color: #1e1e1e;
  overflow-wrap: break-word;
  text-align: center;
}

.right > p {
  color: #1e1e1e;
  text-align: center;
}
/* image specific stylings */
.pics {
  border-radius: 8px;
}
