.navbar {
  display: flex;
  background-color: #2c2c2c;
  color: white;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  align-items: center;
}

.button {
  border-radius: 7px;
  padding: 0.5em 1rem;
  background-color: #adadad;
  font: inherit;
  color: #262626;
  border: 1px white;
  position: relative;
}

.right {
  display: flex;
  justify-content: flex-end;
  gap: 5rem;
  align-items: center;
}

.menuicon {
  display: none;
}

.underline {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}

.underline::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: red;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}

.underline:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.close {
  display: none;
}

.mobileright {
  position: fixed;
  left: 0;
  top: 85px;
  width: 100%;
  background-color: #2c2c2c;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5rem;
  align-items: center;
  padding-block: 2rem;
  box-shadow: #2c2c2c;
}

@media screen and (max-width: 850px) {
  .menuicon {
    display: block;
  }

  .right {
    display: none;
  }
}
