.navbar {
  display: flex;
  background-color: #1e1e1e;
  color: white;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  align-items: center;
}

.button {
  border-radius: 7px;
  padding: 0.5em 1rem;
  background-color: #d9d9d9;
  font: inherit;
  color: black;
}

.right {
  display: flex;
  justify-content: flex-end;
  gap: 5rem;
  margin-right: 1rem;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .right {
    display: none;
  }
}
